table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
    text-align: center;
  }
  
  th {
    height: 30px;
    text-align: center;
  }
  td{
      text-align: center;
  }